.myHeda{
background:#248CF1; 
padding:10px; 
font-size:25px; 
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
text-shadow:0 0 0;
text-align:center;
color:#EEE;
}

body {
	bgcolor="#B3D4FD";
}

.MyDiv{content:normal;
display:block;
font-family:Arial, Helvetica, sans-serif;
background-color:#FFF;
z-index:auto;
alignment-adjust:central;
}
input{
	width:200px;
	alignment-adjust:baseline;
	direction:ltr;}
	
	.tbNav{
		width:100%; background-color:#EEE; border:#333;
		font-size:24px;
		
	}

.ui-page {
background:#AFB4B7;
}

.DivOne {
background-color:#FFFFFF; 
width:99.5%; 
padding:3px	
}

.DivTwo{
background-color:#FFFFFF; 
padding:5px; 
width:77%; 
height:99%; 
text-align:center; 
margin:0 auto;
}

.DivThree{
background-color:#B3D4FD;   <!--#EBE5C5;--> 
padding:5px; 
width:99%;
text-align:center; 
margin:0 auto;
}

#loginDiv1{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:#39F; 
	padding:5px; 
	width:35%; 
	height:99%; 
	text-align:center; 
	margin:0 auto;
}
body{
	background-color:#DDD;
}

#loginDiv2{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:#B3D4FD; 
	padding:5px; 
	width:98%; 
	height:98%; 
	text-align:center; 
	margin:0 auto;
}

.mylists{
background:#AFB4B7;
}

.myTable{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse:collapse; 
text-align:center; 
width:100%}

table th, td { 
text-align:center; 
padding:3px;}

.delete{}
       
.deleteCon{}
   
.DivTwoPage{
background-color:#FFFFFF; 
padding:5px; 
width:77%; 
height:99%; 
text-align:center; 
margin:0 auto;
}	

.pageSheet{
background-color:#FFFFFF; 
padding:5px; 
width:99%; 
margin:0 auto;
}
       
.page{
}
      
.pageIn{}

.pageInner{
           }
       .paraContent{}
       .bt1{}
       .bt2{}
       .bt3{}
       .bt4{}
       .bt5{}
       .bt6{}
       .bt7{}
       .bt8{}
       .bt9{}	
	   
